<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style type="text/css">
    @media (min-width: 768px) {
      html {
        font-size: 16px;
      }
    }

    .container {
      max-width: 960px;
    }
    .search-bar{
    max-width:700px;
    width: 100%;
    }
    form{
    width: 100%;
    }
</style>






<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    {% if request.user.is_authenticated %}

        <h5 class="my-0 mr-md-auto font-weight-normal">Hello ,{{request.user.username}} </h5>
    {% else %}
        <h5 class="my-0 mr-md-auto font-weight-normal">Django project</h5>
    {% endif %}
    <div class="search-bar mt-sm-2 mr-2 m-auto">
         <form method="get">
             <input type="text" class="form-control" name="q" id="id_q" placeholder="Search...">
         </form>
    </div>

    <nav class="my-2 my-md-0 mr-md-3">
    {% if request.user.is_authenticated %}
        <p>
            <a class="p-2 text-dark" href="{% url 'home' %}">Home</a> |
            <a class="p-2 text-dark" href="{% url 'account' %}">Account</a> |
            <a class="p-2 text-dark" href="{% url 'logout' %}">Logout</a>
        </p>
      {% else %}
        <p>
            {{request.user.username}} |
            <a class="p-2 text-dark" href="{% url 'home' %}">Home</a> |
            <a class="p-2 text-dark" href="{% url 'register'%}">Register</a> |
             <a class="btn btn-outline-primary" href="{% url 'login'%}">Login</a>
        </p>
    {% endif %}

  </nav>

</div>

<script type="text/javascript">
    document.getElementById("id_q").value ="{{query}}"
</script>







